.information-container {
    padding: 0 21px 0 21px;
    & > .information-box {
        margin-top: 21px;
        width: 325px;
        & > .information-card {
            padding: 12px 9px 14px 9px;
            background: var(--card-background);
        }
    }
}